{% extends 'base.html' %}
{% load static %}
{% block title %}
آزمایش ها 
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="">صفحه اصلی</a></li>
                <li><a href="">آزمایش ها</a></li>
                <li><a href="">سازندگان</a></li>
                <li><a href="">ارتباط با ما</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="text">
            <h1 class="title">آزمایشگاه مجازی فیزیک</h1>
            <p class="title2">جایی که آزمایش های فیزیکی را راحت تر درک میکنی</p>
            <a href="" class="btn">دیدن آزمایش ها</a>
        </div>
    </div>
    
</div>
{% endblock %}