{% extends 'base.html' %}
{% load static %}
{% block title %}
آزمایش ها 
{% endblock %}

{% block main %}
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="">صفحه اصلی</a></li>
                <li><a href="">آزمایش ها</a></li>
                <li><a href="">سازندگان</a></li>
                <li><a href="">ارتباط با ما</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="text">

        </div>
    </div>
    
</div>
{% endblock %}