@font-face {
    font-family: "vazir";
    src: url(fonts/Vazirmatn-Medium.ttf);
}

* {
    transition: all linear 200ms;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(247, 247, 247);
    background-size: cover;
    height: 100vh;
    font-family: "vazir";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 15%;
}

nav {
    height: 100%;
    padding: 15px 70px;
    width: 60%;
    box-sizing: border-box;
}

.header ul {
    display: flex;
    gap: 30px;
    margin: 0;
    height: 100%;

}

li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

a {
    margin: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.tarikh {
    height: 100%;
    width: 25%;
    text-align: center;
    padding: 12px 0px;

}

.tarikh h1 {
    color: rgb(0, 0, 0);
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 2vw;
}

.container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    justify-self: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.container .box {
    width: 550px;
    height: 400px;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.377);

}

.container .box img {
    width: 100%;
    height: 80%;
    border-top-right-radius: 28px;
        border-top-left-radius: 28px;

}

.container .box h1 {
    display: block;
}

.container .box:hover {
    box-shadow: 0px 0px 40px rgb(9, 114, 0);
    transition: linear 200ms;
}

@media (max-width:370px) {
    .container .box h1 {
        font-size: 20px;
    }

    .container .box {
        width: 550px;
        height: 250px;
        background-color: aliceblue;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        cursor: pointer;

    }

    a {
        margin: auto;
        text-decoration: none;
        color: rgb(172, 173, 230);
        font-size: 10px;
        display: block;
        width: 200%;
    }

    li {
        margin: 3%;
    }

    .tarikh h1 {
        color: aliceblue;
        margin-top: 5%;
        justify-self: center;
        align-self: center;
        font-size: 1.89vw;
    }

    nav {
        padding: 3%;
    }

}



@media (min-width:370px) and (max-width:480px) {

    .container .box h1 {
        font-size: 25px;
    }

    .container .box {
        width: 550px;
        height: 300px;

        cursor: pointer;

    }

    a {
        margin: auto;
        text-decoration: none;
        color: rgb(172, 173, 230);
        font-size: 10px;
        display: block;
        width: 200%;
    }

    li {
        margin: 3%;
    }

    .tarikh h1 {
        color: aliceblue;
        margin-top: 5%;
        justify-self: center;
        align-self: center;
        font-size: 1.89vw;
    }

    nav {
        padding: 3%;
    }
}

@media (min-width:481px) and (max-width: 630px) {


    a {
        margin: auto;
        text-decoration: none;
        color: rgb(172, 173, 230);
        font-size: 15px;
        display: block;
        width: 200%;
    }



    li {
        margin-right: 20%;
    }

    .tarikh h1 {
        color: aliceblue;
        margin-top: 5%;
        justify-self: center;
        align-self: center;
        font-size: 1.89vw;
    }



}

@media (min-width:630px) and (max-width: 800px) {


    a {
        margin: auto;
        text-decoration: none;
        font-size: 15px;
        width: 150%;
        display: block;
    }

}

@media screen and (max-width:2550px) {
    body{
        height: 100%;
    }
    .container{
            align-content: center;

    }
}