<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename='physics/sim1/style.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
    <form id="sidebar" action="/use_AI_for_physics/sim1/result" method="post">
        <h3>طراحی آزمایش</h3>

        ارتفاع اولیه
        <input  class="u" type="number" name="y0" value="12" step="1">
        سرعت اولیه
        <input  class="u" type="number" name="speed" value="1" step="0.1">

        زاویه پرتاب
        <input  class="u" type="number" name="angle" value="1" step="0.1">

        مقاومت هوا
        <input  class="u" type="number" name="resistance" value="0" step="0.1">

        زمان شبیه سازی
        <input class="u" type="number" name="time" value="5" step="0.1">

        <input class="t" type="submit" href="/use_AI_for_physics/sim1/result"></input>
    </form>

<script>
        function updateDashboard() {

            fetch("http://127.0.0.1:5000/api/sim1", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    y0: document.getElementById("y0").value,
                    speed: document.getElementById("speed").value,
                    angle: document.getElementById("angle").value,
                    resistance: document.getElementById("resistance").value,
                    time: document.getElementById("time").value
                })
            })
                .then(res => res.json())
                .then(data => {

                    const x = data.x;
                    const signals = data.signals;
                    const names = Object.keys(signals);

                    Plotly.react("plot1", [{
                        x: x,
                        y: signals[names[0]],
                        mode: "lines",
                        name: names[0]
                    }], { title: names[0] });

                    Plotly.react("plot2", [{
                        x: x,
                        y: signals[names[1]],
                        mode: "lines",
                        name: names[1]
                    }], { title: names[1] });

                    Plotly.react("plot3", [{
                        x: x,
                        y: signals[names[2]],
                        mode: "lines",
                        name: names[2]
                    }], { title: names[2] });

                    Plotly.react("plot4", [{
                        x: x,
                        y: signals[names[3]],
                        mode: "lines",
                        name: names[3]
                    }], { title: names[3] });

                });
        }

        updateDashboard();
    </script>
    </div>
</body>

</html>